{% extends "base.html" %}

{% block content %}
	<h1>edit my profile</h1>
	<form action="" method="post" name="edit">
		{{ form.hidden_tag() }}
		<table>
			<tr>
				<td>my nickname:</td>
				<td>{{ form.nickname(size=24) }}</td>
				{% for error in form.errors.nickname %}
				<br><span style="color: red">[{{ error }}]</span>
				{% endfor %}
			</tr>
			<tr>
				<td>about myself: </td>
				<td>{{ form.about_me(cols=32, row=4) }}</td>
			</tr>
			<tr>
				<td></td>
				<td><input type="submit" name="Save Changes"></td>
			</tr>
		</table>
	</form>
{% endblock %}